/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');

 {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f9;
}

.info-box {
  display: flex;
  flex-direction: row;
  text-align: center;
}
b {
  font-weight: 600;
  display: inline;
  margin: 0;
  size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form input[type='text'] {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.form button[type='submit'] {
  width: 100px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

ul {
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 17px 24px;
  justify-content: center;
  padding: 0;
  margin: 20px auto;
  max-width: 1200px;
  list-style: none;
}

.gallery-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}
